.l-case-title
{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
body, html
{
    width: 100%;
    height: 100%;
}
*
{
    margin: 0;
    padding: 0;
}
#winlinks
{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
}
#winlinks ul
{
    position: relative;
}
#winlinks li
{
    width: 70px;
    cursor: pointer;
    height: 80px;
    position: absolute;
    z-index: 101;
    list-style: none;
    text-align: center;
}
#winlinks li img
{
    width: 36px;
    height: 36px;
}
#winlinks li span
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    display: block;
    font-size: 12px;
    margin-top: 1px;
    color: White;
    line-height: 18px;
    text-align: center;
}
#winlinks li.l-over div.bg
{
    display: block;
}
#winlinks li div.bg
{
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 0;
    width: 75px;
    height: 64px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #000;
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.l-taskbar-task-icon
{
    top: 3px; left: 6px; background-image:none;
} 
.l-taskbar-task-content{ margin-left:30px;}
.l-taskbar-task-icon img
{
    width: 22px;
    height: 22px;
}
.l-dialog-win .l-dialog-content{
	padding-bottom: 0px;
}